.at-theme-dark,
.at-theme-default {
  --color-default-back: hsla(0, 0%, 100%, 0.1);
  --color-button-foreground-disabled: hsla(0, 0%, 100%, 0.25);
  --color-button-background-disabled: hsla(0, 0%, 100%, 0.1);
  --color-base: #fafafa;
  --color-base-50: hsla(0, 0%, 98%, 0.5);
  --color-warm: #969696;
  --color-back: #333;
  --color-back-90: rgba(51, 51, 51, 0.9);
  --color-modal-back: #333;
  --color-settings-back: #333;
  --color-hidden: #646464;
  --color-accent: #3fab97;
  --color-accent-darker: #33a691;
  --color-deep-blue: #0a84ff;
  --color-deep-blue-hover: #1e409e;
  --color-accent-pale: rgba(63, 171, 151, 0.1);
  --color-accent-pale-hover: rgba(63, 171, 151, 0.2);
  --color-inversed: #fff;
  --color-inversed-25: hsla(0, 0%, 100%, 0.25);
  --color-inversed-50: hsla(0, 0%, 100%, 0.5);
  --color-inversed-90: hsla(0, 0%, 100%, 0.9);
  --color-good: #4ebe5b;
  --color-normal: #f2a621;
  --color-bad: #f33;
  --gradient-product-hover: linear-gradient(90deg, #36413f, #333);
  --color-chart-label: #646464;
  --color-chart2-label: #757575;
  --color-chart-border: hsla(0, 0%, 39%, 0.2);
  --color-chart2-current: hsla(0, 0%, 100%, 0.05);
  --color-chart2-nodynamic: #fafafa;
  --chart2-custom-scroll-track: #383838;
  --chart2-custom-scroll-thumb: #2b2b2b;
  --color-popup-background: hsla(0, 0%, 73%, 0.05);
  --color-invisible: #262626;
  --color-review-background: #262626;
  --color-scrollable-shadow-top: #262626;
  --color-scrollable-shadow-bottom: var(--color-hidden);
  --color-feedback-background: #333;
  --color-similar-price: hsla(0, 0%, 98%, 0.5);
  --color-mobile-discount: #969696;
  --color-input-border: #333;
  --color-input-background: #fff;
  --color-input-text: #333;
  --color-input-placeholder: hsla(0, 0%, 49%, 0.33);
  --color-input-hint: hsla(0, 0%, 98%, 0.5);
  --color-input-icon: rgba(51, 51, 51, 0.25);
  --color-input-icon-hover: rgba(51, 51, 51, 0.85);
  --color-input-shadow: rgba(0, 0, 0, 0.3);
  --color-white-balloon-bg: #fafafa;
  --color-price-tooltip-bg: hsla(0, 0%, 100%, 0.95);
  --color-axis-price-label: #969696;
  --color-price-line-label: #fafafa;
  --color-drop-down-bg: #1d1d1d;
  --color-favorite-item--hover: rgba(78, 190, 169, 0.1);
  --color-popup-favorites-grey: #969696;
  --color-package-archived: #2d2d2d;
  --color-package-archived-border: #464646;
  --color-package-archived-icon: #c8c8c8;
  --color-checkpoints-bg: #333;
  --color-package-archived-bg: #2d2d2d;
  --color-scroll-rail: #969696;
  --color-banner-blue: rgba(76, 139, 245, 0.95);
  --color-balloon-blue: #4c8bf5;
  --color-balloon-button: #333;
  --color-notice-button: #333;
  --color-chart-price: #969696;
  --color-emty-page-description-text: #969696;
  --color-remove-message-background: hsla(0, 0%, 46%, 0.95);
  --color-remove-timer-background: hsla(0, 0%, 100%, 0.25);
  --color-package-status-label: #969696;
  --color-package-refresh-label: #969696;
  --color-popup-tooltip-text: #fff;
  --color-popup-tooltip-bg: hsla(0, 0%, 46%, 0.95);
  --color-way-points-divider: #757575;
  --color-way-points-divider-accent: rgba(78, 190, 169, 0.3);
  --color-package-more-icons-bg: #969696;
  --color-package-delete-icon-bg-hover: #f55545;
  --color-package-name-input: #333;
  --color-checkpoints-archived-bg: #2d2d2d;
  --color-package-more-icons-bg-hover: #fff;
  --color-inactive-way-point: #969696;
  --color-way-point-border-inactive: #757575;
  --color-way-point-border: rgba(78, 190, 169, 0.3);
  --color-way-point-bg: transparent;
  --color-way-point-invalid: #c8c8c8;
  --color-grey-external-link-icon: #757575;
  --color-popup-tooltip-bg--blue: #4c8bf5;
  --color-grey-46-text: #969696;
  --color-similar-item-bg: #333;
  --color-price-tab-explanation: hsla(0, 0%, 98%, 0.75);
  --color-disabled-sites-bg: #3d3d3d;
  --color-search-by-image-button-alternative: rgba(51, 51, 51, 0.25);
  --color-search-by-image-button: #333;
  --color-search-by-image-border: #757575;
  --color-image-search-dots: #757575;
  --color-image-search-dots-hover: #fff;
  --color-history-array-color-hover: #fff;
  --color-sidebar-close-button: hsla(0, 0%, 100%, 0.75);
  --color-sidebar-close-button--hover: #fff;
  --color-popup-interesting-red: #ff4747;
  --color-popup-interesting-red-darker: #e63535;
  --color-external-links-tab-text: #4ebea9;
  --color-external-links-store--hover: #4ebea9;
  --color-external-links-tab-border: rgba(78, 190, 169, 0.2);
  --color-external-links-tab-arrow-body: #37413f;
  --color-external-links-tab-arrow-border: #3e5a55;
  --color-external-links-empty: #969696;
  --color-external-links-store: #969696;
  --color-external-links-back-cloud: #333;
  --color-advice-stripe--hover: #262626;
  --color-item-card-image-back: #fafafa;
  --color-white: #3e3e3e;
  --color-always-white: #fff;
  --color-always-white-lite: #fafafa;
  --color-black: #fff;
  --color-always-black: #333;
  --color-primary: #4ebea9;
  --color-primary-025: rgba(78, 190, 169, 0.025);
  --color-primary-10: rgba(78, 190, 169, 0.1);
  --color-primary-20: rgba(78, 190, 169, 0.2);
  --color-primary-30: rgba(78, 190, 169, 0.3);
  --color-green: #4ebe5b;
  --color-red: #f33;
  --color-red-10: rgba(245, 85, 69, 0.1);
  --color-grey-90: hsla(0, 0%, 39%, 0.2);
  --color-grey-78: #c8c8c8;
  --color-grey-59: #969696;
  --color-grey-46: #757575;
  --color-red-unfavorite: #f55545;
  --color-always-blue: #4c8bf5;
  --color-sale-tab-badge-wrap: #37413f;
  --color-sale-link-badge-wrap: #473735;
  --input-inset-shadow: inset 0px 1px 2px hsla(0, 0%, 100%, 0.1);
}

.at-widgets-panel__content {
  background-color: #333;
  /* background-color: var(--color-back); */
  white-space: nowrap;
  display: flex;
  user-select: none;
  border-radius: 4px;
  padding: 8px 10px;
  max-width: 500px;
}

.at-widgets-history__items {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: center; */
  /* align-items: center; */
  /* max-width: 0px; */
  margin-right: 3px;
  /* overflow: scroll; */

  /* max-width: 256px; */
  margin-right: 3px;
}

.at-widgets-history__item {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-item-card-image-back);
  margin: 0px 4px;
  border: 1px solid var(--color-grey-90);
  border-radius: 2px;
  overflow: hidden;
}

.at-widgets-history__item > img {
  max-height: 46px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 2px;
  margin: 0px;
  padding: 0px;
}

.at-widget-all-history {
  /* height: 100%; */
  /* width: 42px; */
  color: #fafafa;
  text-align: center;
  display: grid;
}

.buy-now-wrap {
  padding: 0 0;
  /* min-width: 165px; */
  border-radius: 4px;
  /* height: 44px; */
  line-height: 42px;
  font-size: 16px;
  border-width: 0;
  background-color: #ff4747;
}

.buy-now-wrap-sync {
  padding: 0 0;
  /* min-width: 165px; */
  border-radius: 4px;
  /* height: 44px; */
  line-height: 42px;
  font-size: 16px;
  border-width: 0;
  background-color: #ff4747;
  background-image: linear-gradient(239deg, #ffac2d 7%, #ff8219);
  margin-top: 10px;
}

.at-widgets-panel__widget_ecor {
  width: 45%;
}

.at-panel-aside__main_ecor {
  display: flex;
}

.at-widgets-panel__content_second {
  width: 200px;
}
